@model TaskManager.Models.TareaM

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@Html.HiddenFor(m => m.FechaCreacion)
@Html.HiddenFor(m => m.IdTarea)

<div class="form-group">
    <label class="col-md-2 control-label" for="Carpeta">Carpeta</label>
    <div class="col-md-12">
        <select id="Carpeta" name="Carpeta" class="form-control">
            @foreach (var c in ViewBag.carpetas)
            {
                <option value="@c.IdCarpeta">@c.Nombre</option>
            }
        </select>
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Nombre, new { @class = "col-md-2 control-label", @required = "required" })
    <div class="col-md-12">
        @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Descripcion, new { @class = "col-md-2 control-label" })
    <div class="col-md-12">
        @Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.Descripcion, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Prioridad, new { @class = "col-md-2 control-label" })
    <div class="col-md-12">
        <select for="Prioridad" id="Prioridad" name="Prioridad" class="form-control">
            <option @( Model.Prioridad == 1 ? "selected" : "") value="1">Baja</option>
            <option @( Model.Prioridad == 2 ? "selected" : "") value="2">Media</option>
            <option @( Model.Prioridad == 3 ? "selected" : "") value="3">Alta</option>
            <option @( Model.Prioridad == 4 ? "selected" : "") value="4">Urgente</option>
            <option value="">Sin prioridad</option>

        </select>
        @Html.ValidationMessageFor(m => m.Prioridad, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.FechaFin, new { @class = "col-md-2 control-label" })
    <div class="col-md-12">
        <input class="col-md-12 form-control" type="date" name="FechaFin" id="FechaFin" />
        @Html.ValidationMessageFor(m => m.FechaFin, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.EstimadoHoras, new { @class = "col-md-2 control-label" })
    <div class="col-md-12">
        @Html.TextBoxFor(m => m.EstimadoHoras, new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.EstimadoHoras, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Completada, new { @class = "col-md-2 control-label" })
    <div class="col-md-12">
        <select for="Prioridad" id="Completada" name="Completada" class="form-control">
            <option @( Model.Completada == 4 ? "selected" : "") value="0">No</option>
            <option @( Model.Completada == 4 ? "selected" : "") value="1">Si</option>
        </select>
        @Html.ValidationMessageFor(m => m.Completada, "", new { @class = "text-danger" })
    </div>
</div>

