@using TaskManager.Models
@model TareaM

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<p><strong>Nombre: </strong>@Model.Nombre</p>
<p><strong>Descripción: </strong>@Model.Descripcion</p>
<p><strong>Horas estimadas: </strong>@Model.EstimadoHoras</p>
<p><strong>Fecha Fin: </strong>@Model.FechaFin</p>
@if (Model.Prioridad == 1)
{
    <p><strong>Prioridad : </strong> Baja </p>
}
else if (Model.Prioridad == 2)
{
    <p><strong>Prioridad : </strong> Media </p>
}
else if (Model.Prioridad == 3)
{
    <p><strong>Prioridad : </strong> Alta </p>
}
else if (Model.Prioridad == 4)
{
    <p><strong>Prioridad : </strong> Urgente </p>
}

<p><strong>Completada: </strong>@( Model.Completada == 1 ? "Si" : "No")</p>

<br />
<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Descripción
            </th>
            <th>
                Fecha de creación
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in ViewBag.ListaComentarioTareaM)
        {
            <tr>
                <th>
                    @x.Texto
                </th>
                <th>
                    @x.FechaCreacion
                </th>
            </tr>
        }
    </tbody>

</table>

@Html.ActionLink("Crear nuevo comentario", "CrearComentarioTarea", new { IdTarea = Model.IdTarea })

