@using TaskManager.Controllers
@Model Tarea

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>



<p><strong>Nombre: </strong>@Model.Nombre</p>
<p><strong>Descripción: </strong>@Model.Descripcion</p>
<p><strong>Horas estimadas: </strong>@Model.EstimadoHoras</p>
<p><strong>Fecha Fin: </strong>@Model.FechaFin</p>
<p><strong>Prioridad</strong>@Model.Prioridad</p>
