@using TaskManager.Controllers
@Model List<Tarea>

    @{
        ViewBag.Title = "Listar";
    }

    <h2>Listar</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Horas Estimadas</th>
            <th>Fecha Fin</th>
            <th>Prioridad</th>
        </tr>
    </thead>
    <tbody>
        @foreach( var tarea in Model )
        {
        <tr>
            <td>@tarea.IdTarea</td>
            <td>@tarea.Nombre</td>
            <td>@tarea.Descripcion</td>
            <td>@tarea.EstimadoHoras</td>
            <td>@tarea.FechaFin</td>
            <td>@tarea.Prioridad</td>
        </tr>
        }
    </tbody>
</table>