@using TaskManager.Models
@model List<TareaM>

@{
    ViewBag.Title = "Listar Tareas";
}

<h2>Listar</h2>

    <form method="get" action="" calss="form-control">
        <div class="form-group">
            <label class="col-md-2 control-label" for="filtro">filtro</label>
            <div class="col-md-8">
                <select for="filtro" id="filtro" name="filtro" class="form-control">
                    <option value=""> Todos</option>
                    <option value="1">Completas</option>
                    <option value="0">Incompletas</option>
                </select>
            </div>
            <div class="col-md-2">
                <input type="submit" value="Aplicar Filtros" class="btn btn-primary" />
            </div>
        </div>
    </form>

    <br />

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Horas Estimadas</th>
                <th>Fecha Fin</th>
                <th>Prioridad</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tarea in Model)
            {
                <tr>
                    <td>@tarea.IdTarea</td>
                    <td>@tarea.Nombre</td>
                    <td>@tarea.Descripcion</td>
                    <td>@tarea.EstimadoHoras</td>
                    <td>@tarea.FechaFin</td>
                    <td>@tarea.Prioridad</td>
                    <td>
                        @Html.ActionLink("Modificar", "Modificar", new { IdTarea = tarea.IdTarea })
                        @Html.ActionLink("Eliminar", "Eliminar", new { IdTarea = tarea.IdTarea })
                    </td>
                </tr>
                }
        </tbody>
    </table>