@model TaskManager.Models.Carpeta
@{
    ViewBag.Title = "Crear";
}

<h2>Crear Carpeta</h2>

@using (Html.BeginForm("Crear", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h4>Complete los datos para crear la carpeta</h4>
    <hr />

    @Html.HiddenFor(m => m.IdCarpeta)

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.Nombre, new { @class = "col-md-2 control-label" })
        <div class="col-md-12">
            @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Descripcion, new { @class = "col-md-2 control-label" })
        <div class="col-md-12">
            @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Descripcion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    </div>

}