@using TaskManager.Models
@model List<TareaViewModel>



@if (Model == null || Model.Count == 0)

{
    <div class="row">
        <div class="col-md-10 col-lg-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Sin Tareas Pendientes
                </div>
                <div class="panel-body">
                    Usted no contiene tareas pendientes o sin finalizar.
                </div>
            </div>
        </div>
    </div>

}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Fecha Fin</th>
                <th>Nombre</th>
                <th>Prioridad</th>
                <th>Carpeta</th>
                <th>Estimado</th>
                <th>Completada</th>
                <th>Ver</th>
                <th>Completar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tarea in Model)
        {
                <tr>
                    <td>@tarea.FechaFin</td>
                    <td>@tarea.Nombre</td>
                    <td>@tarea.PrioridadDescripcion</td>


                    <td>@tarea.EstimadoHoras</td>
                    <td>@tarea.CompletadaDescripcion</td>
                    <td class="text-right">
                        <span class="glyphicon glyphicon-eye-open">
                            @Html.ActionLink("Detalle", "Detalle", "Tarea", new { IdTarea = tarea.IdTarea }, new { })
                        </span>
                    </td>
                    <td class="text-right">
                        @if (tarea.Completada == 0)
                        {
                            @Html.ActionLink("Completar", "Completar", "Tarea", new { IdTarea = tarea.IdTarea }, new { })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
